@model IEnumerable<PrijemniMVC.Models.StudentSTP>

@{
    ViewData["Title"] = "Studenti";
}

<br /><br />
<div class="container" style="width:90%">
    <div class=" row">
        <div class="col-6">
             <h2>Informacije o studentima</h2>
        </div>
        <div class="col-6 text-end pt-2">
             <a class="btn btn-primary " asp-action="Upsert">Dodaj Studenta</a>
        </div>
       
    </div>
  <br /><br />
<table class="table table-bordered table-striped text-center">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrojIndeksa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Godina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazivStatusa)
            </th>
            <th>
                Operacije
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrojIndeksa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazivStatusa)
            </td>
            <td>
                <a class="btn btn-primary" style="width:80px" asp-action="Upsert" asp-route-id="@item.PkStudentId">Uredi</a> |
                <a class="btn btn-success" style="width:80px" asp-action="Details" asp-route-id="@item.PkStudentId">Detalji</a> |
                <a class="btn btn-danger" style="width:80px" asp-action="Delete" asp-route-id="@item.PkStudentId">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>